@page
@model NetBlog.WebApplication.Pages.Blog.IndexModel
@{
    ViewData["Title"] = @Resources.BlogModelResources.Title;
}

<div class="auto cell grid-y">

    @await Component.InvokeAsync("PageHeader", @Resources.BlogModelResources.HeaderTitle)

    @if (Model.BlogModel.Blogs.Items != null && Model.BlogModel.Blogs.Items.Any())
    {
        <div class="auto cell grid-y app-overflow-y-auto">
            <div class="auto cell grid-container">
                <ul class="no-bullet">
                    @for (int i = 0; i < Model.BlogModel.Blogs.Items.Length; i++)
                    {
                        <li class="padding-vertical-1">
                            <h3><a asp-page="/Blog/Archives" asp-route-id="@Model.BlogModel.Blogs.Items[i].UriKey">@Model.BlogModel.Blogs.Items[i].Title</a></h3>
                            <h6 class="subheader margin-0">@Model.BlogModel.Blogs.Items[i].CreatedDate.ToString("dd-MMMM-yyyy")<span class="primary label margin-left-1">@Model.BlogModel.Blogs.Items[i].Keyword</span><span class="font-italic margin-left-1">@Model.BlogModel.Blogs.Items[i].MinutesToRead&nbsp;@Resources.BlogModelResources.MinutesToRead</span></h6>
                            <p class="margin-0">@Model.BlogModel.Blogs.Items[i].TextIntro</p>
                            <a asp-page="/Blog/Archives" asp-route-id="@Model.BlogModel.Blogs.Items[i].UriKey">@Resources.BlogModelResources.ContinueReading</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    }
    else
    {
        <div class="auto cell grid-y align-center">
            <div class="shrink cell grid-x align-center">
                <h6>@Resources.BlogModelResources.PageWithNoItems</h6>
            </div>
        </div>
    }
    <partial name="_IndexGridFooterPartial" model="Model.BlogModel" />
</div>

@section Scripts
{
    <environment include="Development">
        <script src="~/js/gridSelectChange.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/gridSelectChange.min.js" asp-append-version="true"></script>
    </environment>
}